.ace_content {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
}


.form-check-label {
  white-space: nowrap;
}

.toast {
  max-width: 100%;
}

#messages {
  overflow: auto;
  flex-flow: column;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 25vh;
}
