<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="UltimateJetty"
         point="org.eclipse.core.runtime.products">
      <product
            name="UltimateJetty"
            application="de.uni_freiburg.informatik.ultimate.core.CoreRCP">
         <property
               name="appName"
               value="UltimateJetty">
         </property>
      </product>
   </extension>

</plugin>
